/* ----- CSS Reset ----- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}

body {
	line-height:1;
}

ol, ul {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

/*

-- 

*/

/* ----- General CSS ----- */

html {
	width:100%;
	height:100%;
}

body {
	margin:0 auto;
	width:100%;
	height:100%;
	text-align:center;
}

body {
	background:rgb(254,254,254);
}

a {
	text-decoration:none;
	margin:0;
	color:rgb(0,0,0);
}

p {
	padding:0;
	margin:0;
}

/* 

-- 

*/

#main-content {
	position:relative;
	display:block;
	width:calc(100% - 250px);
	height:auto;
	margin:0 0 0 250px;
}

img.peeps-lettering {
	padding:4em 0 0.25em;
	width:500px;
	max-width:90%;
	margin:0 auto;
}

#main-content h2 {
	font-family: 'Raleway', sans-serif;
	padding:0 0 3em;
	font-size:16px;
	text-align:center;
	width:85%;
	max-width:900px;
	font-weight:500;
	margin:0 auto;
	line-height:30px;
	letter-spacing:1px;
}

#main-content h2 a {
	color:rgb(29,161,242);
}

#main-content h2 a:hover {
	color:rgb(0,0,0);
}

ul.category {
	position:relative;
	padding:5em 0 2.5em;
}

ul.category li {
	display:block;
	padding:0.55em 0 0.55em 0;
	color:rgb(0,0,0);
	font-family: 'Roboto', sans-serif;
	font-size:12.5px;
	font-weight:400;
	text-align:left;
	letter-spacing:0.5px;
	border:0;
	margin:0 0 0 3.5em;
}

ul.category li a:hover, ul.category span li a:hover {
	color:rgb(29,161,242);
	cursor:pointer;
}

ul.category .li-heading {
	color:rgb(29,161,242); 
	font-weight:500;
	text-transform:uppercase;
}

ul.category .li-fat {
	font-weight:500;
	text-transform:uppercase;
}

span.new-users {
	color:rgb(240,0,0);
}

span.new-users:hover {
	color:rgb(29,161,242);
}

.selected-menu-item {
	color:rgb(29,161,242);
}

.submit-button {
	color:rgb(254,254,254);	
	font-weight:500;
	font-family: 'Roboto', sans-serif;
	font-size:13.5px;
	letter-spacing:1px;
	padding:1em 1.25em;
	border:1px solid rgb(29,161,242);
	border-radius:3px;
	background:rgb(29,161,242);
}

.submit-button:hover {
	cursor:pointer;
	background:rgb(254,254,254);
	color:rgb(29,161,242);	
}

.flaggy {
	position:absolute;
	margin:-50px 0 0 -40px;
	text-align: right;
	color:rgb(240,0,0);	
	font-weight:500;
	font-family: 'Roboto', sans-serif;
	font-size:14.5px;
	padding:0.35em 0.6em;	
	letter-spacing:1px;
	border:1px solid rgb(240,0,0);
	border-radius:4px;
	background:rgb(254,254,254);
}

.flaggy:hover {
	color:rgb(254,254,254);	
	background:rgb(240,0,0);
}

.submit-page, .about-page {
	width:85%;
	max-width:900px;
	padding:1em 0 15em;	
	margin:0 auto;
	text-align:justify;
}

.submit-page p, .about-page p {
	color:rgb(0,0,0);	
	font-family: 'Roboto', sans-serif;
	font-size:14px;
	font-weight:400;
	line-height:26px;
	padding:0 0 0.5em;
}

.about-page a, #back-to-top-link {
	color:rgb(29,161,242);	
}

.about-page h3 {
	font-family: 'Roboto', sans-serif;
	padding:2.25em 0 0.5em;
	font-size:15px;
	font-weight:500;
	line-height:30px;
	letter-spacing:-0.5px;
	text-align:left;
}

.submit-page button {
	outline:0;
}

.submit-page p.profile-msg, .delete-profile {
	color:rgb(240,0,0);
	padding:2em 0 0;
	font-family: 'Roboto', sans-serif;
	font-size:14px;
	font-weight:400;
	line-height:26px;
}

.delete-profile {
	color:rgb(240,0,0);	
	font-weight:500;
	font-family: 'Roboto', sans-serif;
	font-size:13px;
	letter-spacing:1px;
	padding:1em 1.25em;
	border:1px solid rgb(240,0,0);
	border-radius:4px;
	background:rgb(254,254,254);
	margin:0 0 0 2em;
	cursor:pointer;	
}

.delete-profile:hover {
	color:rgb(254,254,254);	
	background:rgb(240,0,0);
}

input[type=text] {
	width:100%;
	max-width: calc(100% - 1.5em);
	height:40px;
	border:0;
	background:rgb(247,247,247);
	resize:none;
	padding:0 0.75em;
}

select[name="level"] {
/*	-webkit-appearance: none;*/
	width:100%;
	max-width:300px;
	height:40px;
	border:0;
	background:rgb(247,247,247);
	overflow:hidden;
	color:rgb(0,0,0);	
	font-family: 'Roboto', sans-serif;
	font-size:14px;
	font-weight:400;
	line-height:26px;
	padding:0 0 0 0.5em;
}

select option {
	margin:0;
	padding:0;
}

input[type=text], .profession label {
	color:rgb(0,0,0);	
	font-family: 'Roboto', sans-serif;
	font-size:14px;
	font-weight:400;
	line-height:26px;
	border:0;
}

.profession label {
	padding:0 0 0 1em;
	font-size:13px;
}

.profession input[type="checkbox"] {
	-webkit-appearance:none;
	background-color:rgb(247,247,247);
	border:1px solid rgb(235,235,235);
	padding:9px;
	border-radius:3px;
	display:inline-block;
	position:relative;
	outline:0;
	top:6px;
	margin:0;
}

.profession input[type="checkbox"]:active, .profession input[type="checkbox"]:checked:active, .profession input[type="checkbox"]:checked, .profession input[type="checkbox"]:checked:after {
	background-color:rgb(29,161,242);
}

.profession input[type="checkbox"]:disabled {
	background-color:rgb(254,254,254);
}

.checkbox-disabled label {
	color: rgb(215, 215, 215);
}

input[type=text]:focus, select[name="level"]:focus {
	outline-color:rgb(29,161,242);
}

input[type="submit"], button {
	-webkit-appearance: none;
	color:rgb(254,254,254);	
	font-weight:500;
	font-family: 'Roboto', sans-serif;
	font-size:13px;
	letter-spacing:1px;
	padding:1em 1.25em;
	border:1px solid rgb(29,161,242);
	border-radius:4px;
	background:rgb(29,161,242);	
	outline:0;
}

input[type="submit"]:hover, button:hover {
	cursor:pointer;
	background:rgb(254,254,254);
	color:rgb(29,161,242);	
}

.mobile-nav {
	display:none;
	color:rgb(29,161,242);	
	font-size:0.8em;
	font-weight:700;
	letter-spacing:0;
	padding:1em 1.25em;
	border-radius:4px;
	background:rgb(254,254,254);
	border:1px solid rgb(29,161,242);
	position:fixed;
	top:20px;
	left:20px;
	z-index:10001;
	margin:0;
}

.mobile-nav:hover {
	cursor:pointer;
}

.mobile-nav:focus {
	outline:0;
}

#back-to-top-link {
	display:block;
	font-size:0.9em;
	font-weight:700;
	letter-spacing:0;
	padding:0.95em 1.15em 1.05em 1.15em;
	border-radius:4px;
	color:rgb(254,254,254);	
	background:rgb(29,161,242);
	border:1px solid rgb(29,161,242);
	position:fixed;
	bottom:20px;
	right:20px;
	z-index:10002;	
	margin:0;
}

#back-to-top-link:hover {
	color:rgb(29,161,242);	
	background:rgb(254,254,254);
	border:1px solid rgb(29,161,242);	
}

#side-menu {
	display:block;
	margin:0;
	position:fixed;
	width:225px;
	overflow-y:scroll;
	-webkit-overflow-scrolling:touch;
	height:100%;
	-ms-overflow-style: none;
	z-index:993;
	left:0;
	top:0;
	padding:0;
}

#side-menu::-webkit-scrollbar { 
    display:none; 
}

@media (max-width:1050px) {

	#back-to-top-link {
		font-size:0.9em;
		padding:1em 1.15em;
		top:12px;
		left:67px;
		bottom:auto;
		right:auto;
		color:rgb(29,161,242);	
		background:rgb(254,254,254);
		border:1px solid rgb(29,161,242);
	}

	#back-to-top-link:hover {
		color:rgb(29,161,242);	
		background:rgb(254,254,254);	
	}

	img.peeps-lettering {
		margin:6em 0 0.25em;
		padding:0;
	}

	.mobile-nav {
		display:block;
		top:12px;
		left:12px;
		font-size:0.8em;
		padding:1em 1.25em;
	}

	#side-menu {
		display:none;
		width:100%;
		top:0;
		padding:0;
	}

	#main-content {
		/* width:100% !important;
		margin:0 auto !important; */
		min-width:calc(100% - 2em);
		width:calc(100% - 2em);
		max-width:calc(100% - 2em);
		margin:0 1em auto;
		margin-bottom: 2em;
	}
	
	#manage-content {
		width: calc(100% - 4em) !important;
		margin: 0 2em 4em 2em !important;
	}

	ul.category {
		margin:0;
		padding:4em 0;
		background:rgb(254,254,254);
		border-bottom:1px solid black;
		top:0;
	}

	ul.category li {
		padding:1em 0 0;
		text-align:center;
		font-size:14px;
		margin:0 auto;
	}
	
	.module-grid {
		margin:0 auto;
		min-width:100%;
		width: 100%;
		max-width: 100%;
		padding:0;
		display:block;
		justify-content: center;
		text-align: center;
	}
	
	.tweet-wrapper {
		min-width: calc(100%) !important;
		width: calc(100%) !important;
		max-width: calc(100%) !important;
	}

}

.module-grid {
	margin:0 auto;
	width:90%;
	padding:3.5em 0 5em;
	display:grid;
	grid-column-gap:1em;
	grid-row-gap:0;
	grid-template-columns:auto auto auto;
	justify-content:center;
}

.tweet-wrapper {
	text-align: right;
}

@media (max-width:1850px) {

	.module-grid {
		grid-template-columns:auto auto;
	}

}

@media (max-width:1300px) {

	.module-grid {
		grid-template-columns:auto;
	}

}

/* --- Manage page --- */

#app {
	display: none;
}
			
.fake-a {
	cursor: pointer;
}

#app #manage-content {
	position:relative;
	display:block;
	width:calc(100% - (250px + 5em));
	height:auto;
	margin:0 5em 5em calc(5em + 250px);
	text-align:left;
}

#app #manage-content h2 {
	font-family: 'Roboto', sans-serif;
	padding:5.45em 0 2em;
	font-size:16px;
	max-width:900px;
	font-weight:500;
	line-height:30px;
	letter-spacing:1px;
	color:rgb(29,161,242);
	text-transform:uppercase;
}

#app #manage-content ul.manage-text li, #app #manage-content p {
	padding:0.5em 0;
/*	border-bottom:1px solid rgb(220,220,220);*/
	font-size:13px;
	font-family: 'Roboto', sans-serif;
}

#app #manage-content p {
	padding:0;
	border-bottom:0;
}

#app #manage-content ul.manage-text li button {
	font-size:10px;
	padding:0.75em 1em;	
	border-radius:3px;
}

#app #manage-content input[type="submit"] {
	font-size:10px;
	padding:0.75em 1em;
}

#app #manage-content input[type="text"] {
	width:300px;
	height:35px;
	border:0;
	background:rgb(247,247,247);
	resize:none;
	margin:0 1em 1em 0;
}

#app #manage-content input[type="text"]:focus {
	outline-color:rgb(29,161,242);
}

#app #manage-menu {
	display:block;
	margin:0;
	position:fixed;
	width:275px;
	height:100%;
	background:rgb(246,246,246);
	top:0;
}

#app #manage-menu img {
	max-width:75%;
	padding:4em 0 0;
}

#app #manage-menu ul {
	position:relative;
	top:0;
	padding:2em 0 2.5em;
}

#app #manage-menu ul li a {
	display:block;
	padding:1.75em 0;
	color:rgb(75,75,75);
	font-family: 'Roboto', sans-serif;
	font-size:12.5px;
	font-weight:500;
	text-align:center;
	letter-spacing:1px;
	border-bottom:1px solid rgb(235,235,235);
	text-transform:uppercase;
}

#app #manage-menu ul li a:hover {
	color:rgb(246,246,246);
	background:rgb(29,161,242);
}

i {
	font-style: italic;
}

