---
permalink: /manage
---

<html>
	<head>
		<style>
			#app {
				display: none;
			}
		</style>
	</head>
	<body>
		<h1>#visiblepeeps</h1>
		
		<p>
			<a href="/">Home</a>
			<a href="/submit">Submit</a>
		</p>
		
		<div id="app">
			<div v-if="isLoggedIn && isAdmin">
				<p>
					<button @click="logout">Log out</button>
				</p>
				
				<h2>Tweets to Approve</h2>
				
				<ul>
					<li v-for="tweet in tweetsToApprove">
						<a :href="tweet.url"><% tweet.url %></a> submitted by <a :href="'https://twitter.com/' + tweet.submitter"><% tweet.submitter %></a>
						<button @click="approve(tweet)">Approve</button>
						<button @click="deny(tweet)">Deny</button>
					</li>
				</ul>
				
				<h2>Admin Users</h2>
				
				<form @submit.prevent="addAdminUser">
					<input type="text" v-model="userToAdmin">
					<input type="submit" value="Add">
				</form>
				
				<ul>
					<li v-for="user in adminUsers">
						<a :href="'https://twitter.com/' + user.username"><% user.username %></a>
						<button @click="removeAdminUser(user)">Remove</button>
					</li>
				</ul>
				
				<h2>Blocked Users</h2>
				
				<form @submit.prevent="blockUser">
					<input type="text" v-model="userToBlock">
					<input type="submit" value="Block">
				</form>
				
				<ul>
					<li v-for="user in blockedUsers">
						<a :href="'https://twitter.com/' + user.username"><% user.username %></a>
						<button @click="unblockUser(user)">Unblock</button>
					</li>
				</ul>
			</div>
			
			<div v-else>
				<button @click="login">Log in</button>
			</div>
		</div>
		
		<script src="/res/js/firebase.js"></script>
		<script src="/res/js/vue.min.js"></script>
		<script>
			window.onload = function(){
				let ref3, ref4, ref5;
				
				firebase.initializeApp({
					apiKey: "AIzaSyDahkALUP2HDnuLqiXOt-ScOPobhqFoW84",
					authDomain: "visiblewomen-net.firebaseapp.com",
					databaseURL: "https://visiblewomen-net.firebaseio.com",
					projectId: "visiblewomen-net",
					storageBucket: "visiblewomen-net.appspot.com",
					messagingSenderId: "532732660193"
				});
				
				let app = new Vue({
					el: "#app",
					delimiters: ["<%", "%>"],
					
					data: {
						isLoggedIn: false,
						isAdmin: false,
						currentUserName: "",
						tweetsToApprove: [],
						userToAdmin: "",
						adminUsers: [],
						userToBlock: "",
						blockedUsers: [],
					},
					
					methods: {
						login: function(){
							let provider = new firebase.auth.TwitterAuthProvider();
							
							firebase.auth().signInWithPopup(provider).then(function(result){
								let db = firebase.database();
								let username = result.additionalUserInfo.username;
								
								let ref1 = db.ref("/usersByUID/" + result.user.uid);
								
								ref1.set(username).then(function(){
									//
								}).catch(function(error){
									console.error(error);
								});
								
								let ref2 = db.ref("/usersByName/" + username);
								
								ref2.set(result.user.uid).then(function(){
									//
								}).catch(function(error){
									console.error(error);
								});
							}).catch(function(error){
								console.error(error);
							});
						},
						
						logout: function(){
							firebase.auth().signOut();
							ref3.off();
							ref4.off();
							ref5.off();
						},
						
						approve: function(tweet){
							let self = this;
							let db = firebase.database();
							let ref = db.ref("/approvedTweets");
							
							ref.once("value").then(function(snapshot){
								let approvedTweets = snapshot.val();
								if (!approvedTweets) approvedTweets = [];
								approvedTweets.push(tweet.url);
								ref.set(approvedTweets);
								
								self.tweetsToApprove.splice(self.tweetsToApprove.indexOf(tweet), 1);
								db.ref("/tweetsToApprove").set(self.tweetsToApprove);
							});
						},
						
						deny: function(tweet){
							let self = this;
							let db = firebase.database();
							
							self.tweetsToApprove.splice(self.tweetsToApprove.indexOf(tweet), 1);
							db.ref("/tweetsToApprove").set(self.tweetsToApprove);
							
							let shouldBlockUser = confirm("Would you like to block " + tweet.submitter + ", the user who submitted this tweet?");
							
							if (shouldBlockUser){
								db.ref("/usersByName/" + tweet.submitter).once("value").then(function(snapshot){
									let uid = snapshot.val();
									if (!uid) return;
									db.ref("/blockedUsers/" + uid).set(true);
								});
							}
						},
						
						addAdminUser: function(){
							let self = this;
							let db = firebase.database();
													
							db.ref("/usersByName/" + self.userToAdmin).once("value").then(function(snapshot){
								let uid = snapshot.val();
								
								if (!uid){
									alert("This user hasn't logged in yet. Please ask them to log in first, and then try to re-add them as an administrator.");
									return;
								}
								
								db.ref("/adminUsers/" + uid).set(true);
							});
							
							self.userToAdmin = "";
						},
						
						removeAdminUser: function(user){
							let shouldRemoveAdminUser = confirm("Are you sure that you want to remove " + user.username + " as an administrator?");
							
							if (!shouldRemoveAdminUser) return;
							
							let db = firebase.database();
							db.ref("/adminUsers/" + user.uid).set(null);
						},
						
						blockUser: function(){
							let self = this;
							let db = firebase.database();
														
							db.ref("/usersByName/" + self.userToBlock).once("value").then(function(snapshot){
								let uid = snapshot.val();
								
								if (!uid){
									alert("This user hasn't submitted anything yet...");
									return;
								}
								
								db.ref("/blockedUsers/" + uid).set(true);
							});
							
							self.userToBlock = "";
						},
						
						unblockUser: function(user){
							let shouldUnblockUser = confirm("Are you sure that you want to unblock " + user.username + "?");
							
							if (!shouldUnblockUser) return;
							
							let db = firebase.database();
							db.ref("/blockedUsers/" + user.uid).set(null);
						},
					},
					
					mounted: function(){
						let self = this;
						
						firebase.auth().onAuthStateChanged(function(user){
							document.getElementById("app").style.display = "block";
							self.isLoggedIn = !!user;
							
							if (ref3) ref3.off();
							if (ref4) ref4.off();
							if (ref5) ref5.off();
							
							if (user){
								let db = firebase.database();
								
								ref3 = db.ref("/adminUsers");
								
								ref3.on("value", function(snapshot){
									self.adminUsers = [];
									let adminUsers = snapshot.val();
									
									if (!adminUsers){
										window.location.href = "/";
									}
									
									let isAdmin = (Object.keys(adminUsers).indexOf(user.uid) > -1) && adminUsers[user.uid] === true;
									
									if (!isAdmin){
										window.location.href = "/";
									}
									
									self.isAdmin = true;
									
									Object.keys(adminUsers).forEach(function(uid){
										db.ref("/usersByUID/" + uid).once("value").then(function(snapshot2){
											let username = snapshot2.val();
											if (!username) return;
											self.adminUsers.push({uid, username});
										});
									});
								});
								
								ref4 = db.ref("/tweetsToApprove");
								
								ref4.on("value", function(snapshot){
									let tweetsToApprove = snapshot.val();
									if (!tweetsToApprove) return;
									self.tweetsToApprove = tweetsToApprove;
								});
								
								ref5 = db.ref("/blockedUsers");
								
								ref5.on("value", function(snapshot){
									self.blockedUsers = [];
									let blockedUsers = snapshot.val();
									
									if (!blockedUsers) return;
									
									Object.keys(blockedUsers).forEach(function(uid){
										db.ref("/usersByUID/" + uid).once("value").then(function(snapshot2){
											let username = snapshot2.val();
											if (!username) return;
											self.blockedUsers.push({username, uid});
										});
									});
									
									window.blockedUsers = self.blockedUsers;
								});
							}
						});
					},
				});
			};
		</script>
	</body>
</html>