<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" >
		<meta name="author" content="Andreas Werchmeister" >
		<meta name="keywords" content="Visible Peeps" >
		<meta name="description" content="Visible Peeps" >
		<meta name="viewport" content="width=device-width">
		
		<link rel="stylesheet" type="text/css" href="/res/css/style.css"/>	
		<link href="https://fonts.googleapis.com/css?family=Halant:400|Raleway:500|Roboto:400,500,700" rel="stylesheet">
			
		<title>#visiblepeeps</title>
		
		<style>
			#app {
				display: none;
			}
		</style>
	</head>

	<body>
		{{ content }}
		
		<script src="/res/js/firebase.js"></script>
		<script src="/res/js/vue.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="/res/js/toggle-menu.js"></script>
	</body>
</html>